.card {
    background-color: #fff;
    border-radius: .4em;
    padding: 1em;
}
img {
    max-width: 100%;
    height: auto;
}
.stretch {
    display: grid;
    justify-content: stretch;
}
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 3em;
    padding: 1em;
    background-color: #f368e0;
}
.b-icon{
    background: url('../img/breadAnime.svg') bottom right no-repeat;
}
.u-icon{
    background: url('../img/breadAnime.svg') top right no-repeat;
}
.mybutton {
    background: red;
    color: #fff;
    border: 0;
    font-size: 0.75em;
    margin: .3em 0;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: .2em;
    height: auto;
    box-shadow: 0 0 transparent inset;
}
.button {
    background: green;
    border: 0;
    margin: .3em 0;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: .2em;
    height: auto;
    box-shadow: 0 0 transparent inset;
}

@import 'layout', 'iconfonts', 'auglysing', 'topmenu';